# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT


# Enable ZMK

# Enable Bluetooth
CONFIG_ZMK_BLE=y

# Power Management
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=900000

# Battery
CONFIG_ZMK_BATTERY_REPORTING=y

# External Power Control (5V Boost)
CONFIG_ZMK_EXT_POWER=y

# Enable ADC for battery voltage measurement
CONFIG_ADC=y

# Enable Mouse Pointing for TrackPoint
CONFIG_ZMK_POINTING=y

# HID Indicators (Caps Lock LED)
CONFIG_ZMK_HID_INDICATORS=y

# Enable PWM for breathing power LED
CONFIG_PWM=y

# Enable poweroff subsystem
CONFIG_POWEROFF=y
