# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_THINKPAD_WIRELESS=y

# Enable ZMK
CONFIG_ZMK_KEYBOARD_NAME="Thinkpad Wireless"

# Enable Bluetooth
CONFIG_ZMK_BLE=y

# Power Management
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=900000

# Battery
CONFIG_ZMK_BATTERY_REPORTING=y
